<div id="store">
  <div class="pb-4">
    <h1>Store</h1>
    <p>Here is the store log in or create account to buy some wonderful art.</p>
    <%= link_to "Login", new_user_session_path, class: "my-btn" %>
    <%= link_to "Create account",  new_user_registration_path, class:"my-btn"  %>
  </div>
  <div class="row">
    <% @arts.each do |art| %>
      <% 9.times do %>
        <div class="col-6 col-md-4">
          <div class="card mb-2">
            <% if art.photo.attached?%>
              <%= cl_image_tag art.photo.key %>
            <%end %>
            <div class="card-body">
              <h5 class="card-title"><%= art.title %></h5>
              <p class="card-text"><%= art.description %></p>
              <p>Amount: <%= humanized_money_with_symbol(art.price) %></p>
              <%= link_to "More details", art_path(art), class: "my-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
