
<%= render 'reel' %>
<div class="gallery-container">
  <%= render 'animation' %>
</div>
<div class="gallery-container">
  <%= render 'illustrations' %>
</div>
<div class="container">
  <%= render 'store' %>
</div>
<div class="contact-container">
  <%= render 'contacts/new' %>
</div>


